[user]
	name = wlonestar
	email = wlonestar@163.com
# [http]
#   proxy = http://127.0.0.1:7890
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
